<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title>JSF Response Page</title>
</h:head> 
<body> 
<ui:composition template="/layouts/commonLayout.xhtml">
	<ui:define name="content">
		<h:outputLabel value="#{user.firstName}" />
		<h:dataTable value="#{orders.orders}" var="order">
			<h:column>
				<f:facet name="header">Id</f:facet>
				#{order.id}
			</h:column>
			<h:column>
				<f:facet name="header">Order Number</f:facet>
				#{order.orderNo}
			</h:column>
			<h:column>
				<f:facet name="header">Product Number</f:facet>
				#{order.productName}
			</h:column>
			<h:column>
				<f:facet name="header">Price</f:facet>
				#{order.price}
			</h:column>
			<h:column>
				<f:facet name="header">Quantity</f:facet>
				#{order.quantity}
			</h:column>
		</h:dataTable>
		<h:form>
			<h:commandButton value="Logoff" action="#{formController.onLogoff()}"/>
		</h:form>
		<h:form>
			<h:commandButton value="Send Order" action="#{formController.onSendOrder()}" />
		</h:form>
	</ui:define>
</ui:composition>
</body> 
</html>
