<!--
  Author: Donald Trowbridge
  Date: 11/13/2020
  Class: CST235-O500
  Statement: This work is my own.
  Last Update:
  Notes:
  	-11/20/2020 : Template for the header in the page layout. This page is considered complete
 -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<ui:composition>
	<h1 style="text-align: center">GCU In-Class Activity</h1>
</ui:composition>
</html>